.title,
.bottom {
    background-color: white;
    text-align: center;
   
}

div {
    width: 48vw;
    height: 40vh;
    margin: 0.75px;


}

#left1,
#left2,
#left3 {
    float: left;
    background-color: lightcoral;

}

#right1,
#right2,
#right3 {
    float: right;
    background-color: lightblue;
}

#pic1,
#pic2,
#pic3,
#pic4,
#pic5,
#pic6 {
    margin: 0;
    font-size: 10vh;
    background-color: rgba(255, 255, 255, 0.233);
   
    /* no px */

}

select {
    width:20vw;
    font-size:3vh;
   display:block;
   margin: 0 auto;


}

button {
    float: right;
    border-width: 0;
    background-color: rgba(255, 0, 0, 0);
    font-size: 3vh;
    font-family: 'Times New Roman', Times, serif;
}


#bottom {
    width: 100%;
    background-color: white;

}

#welcome {
    width: 100vw;
    height: 100vh;

}

#container {
    max-width: 75vw;
    min-height: 100vh;
    background-color: grey;
    margin-left: auto;
    margin-right: auto;
    border-width:3px;
    border-style: outset;
    border-color:black;
   
  
}

#total {
    max-width: 75vw;
    height: 10vh;
    background-color: lightyellow;
    margin: 0;

}

#subtitle {
    text-align: center;
    text-decoration: underline;
}

ul {
    list-style-type: none;
    font-size: 3vh;
    line-height: 5vh;

}

#left1 {
    background-image: url('http://www.pbs.org/food/wp-content/blogs.dir/2/files/2011/10/mapo-tofu-hp.jpg');
    background-position: center;
    background-size: cover;
}

#right1 {
    background-image: url('https://media.blogto.com/articles/20180227-wonton.jpg?w=2048&cmd=resize_then_crop&height=1365&quality=70');
    background-position: center;
    background-size: cover;
}

#left2 {
    background-image: url('data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBxMTEhUSEhIVFRUVFRcXFxgWFh0XFhUVFxcXGBYVGB0ZHSggGBolHhcXITEhJSkrLi4uFyAzODMtNygtLisBCgoKDg0OGhAQGy0lICYwLSsrKy8tLy0tLS0tLS0tLjcrLSstLy0tMC0vLSstLSsvKystLS0tLS0tLS0tLS0rK//AABEIALcBEwMBIgACEQEDEQH/xAAcAAABBQEBAQAAAAAAAAAAAAAFAAIDBAYBBwj/xABBEAACAQIEBAQDBgQDCAIDAAABAgMAEQQFEiEGMUFREyJhcTKBkUJSYqGxwQcUI9Ez4fAVFiRDgpKy8VNyc6LC/8QAGgEAAgMBAQAAAAAAAAAAAAAAAQMAAgQFBv/EADARAAICAQMCBAQFBQEAAAAAAAABAgMREiExBEETUXHwImGRoQUUUoGxFTLB0eHx/9oADAMBAAIRAxEAPwDW2rlcvXDWkWO1V29NpVCDr0qaTSqEHV0Gmg0r1CDr0ga5er2S4TxJQLeUbt7dqj2IVniYblSPcU2tpms4SJibcrAetYkmqxlkLWCDFYKOQWdAflQ3/ZMkZvBMy/hbzL+e4ojPmEMRAmfTflUseNwzfDiE+oqknW3h8lHp7gr/AGtNHtPASPvx7j6c6u4TNoJNllW/3W8rfQ1eCoeUqH5iqWLyaGX4xG3zF6G64f1B6Mu6D7+1Na/agr8MsP8ABnkj7APcfQ00YLMo/hmSQdnUX+oqeJJcr6E1PyC7PWM4uytpfMpNxyo+Myxq/wCJg1f1Rt/zphzqNgfEweITuQl7fSo7YNYkiOS7mW4U4xlwzeFLut+R/avToWjnTxISDcbivPc1yzAYjliDC/TWun9QKucN5RisOwMWJilTsGsSPbekKWh/A8ornHBrSLUqIJEZVuV0v+tD5UKmx2rXGSYxPIjXCabqrt6sEVcvSvXKhDt6Qpt6V6hB964TXKVQh29dpt6VQg6lTaVQgwGu6qZeleiQfelTb10moQ6TSvTdVK9Qg/VSplLVQISCtZwzhSsZc833+Q5Vm8pwhllC9Obew/1atdmuLEMRI52so9elLm+xZAHiHH6n0A7L+tYTP8MXcFcU0XoDtR2SQ7360BzjB66t4aawyr3M7neGxa6WLJiI0H/Vb96pYHNcBIdM0PhN9Klx2HmQEKxq3wPwu2YYoLPCDFH5pX5AjonqWPTtekyqS3SBpRtuDf4f4WXTiW1tER5FLEK/4j3H61JxjwFhlXVhmkikJ5eIWS3XYm4+Rrd5lmUWFiJayIieyqoH+tq8QzT+IWIlnaSII0V/Kh2a3c+ppThDyC4pLgl/3Uxa/DiW/wC5h+9cbJsxXliGP/WatYHjyE7To0R72uv5VosHmUUovFIj+x3oqml8N/UXiJjThs1XlI5/6r/qKhlx2ZpzZ7eyn9q3zORzBqCdgRVvyq7Sf1DoR5pjsTiJhaUE/wDT/aqUIKnyuyn0Nq9Ami0G68u1Cc2yNMQCYz4cn5GkWdDLmMirrBeD4gxcfwYhvZjf9aM4f+IOKH+IiOPa1YzEJNAdE0e3Rhyrn9T4gpZO67kVn8O+HDK6Wj0jD/xAgP8Ai4dl9VorhOIsFL8M2g9n2ryRsUBRjD5Q8iB0VXB+6d6keqv8shUpHqow9xdGVx3U3qJlI515rBHNCbqZYj6XtRbDcbTx7TBZV78mp8PxBZxNYLKzzNleu3qlkee4TFbCXwn6K/I+x6/WjE2WSKLgah3XetsLoS4YxNMqClXDtSJpoTt66KbeuE1AD70qbSqEI6RNKm0SDg1dvUYp16hDtdFcBpE1CHb12uK1X8lwXiyhfsjdvYdPnyoPYho+GsD4cesjzPv7L0H7/OgvEuO8STSD5U29z1rRZ1jPCjOn4m8qgd6ysWUStu1kHdzb8udKju9TLPyBrioJko9/JQJ8cpc9kFh9TT8O8JYJFhwzHlqJb571Z2RRFFsy2FyVsRII0G55noo6k16PgcHFgoAiCwG5P2nbqT3Jq3GqxJc6VsLkgAD/ANV53nvEbTy+QkRqfL+I/eNZ7r0sIZXU5AnjPKsbmLk+DIIh8CfCLdzci5rIP/DDMAbpCfm6D/8Aqtu+bSffb61C2ZP94/WqPqIcYL/l5GWh4KzVdmwgcf8A5Yr/APnVgcBYs7/yskTd1dD/AOL0f/2i/wB4/WnLmkn3j9ar40HyB9K2BIsFnOG5RySqOjLq/SrsPE4O2MwksJ6sUZR9SKLRZ3KPtt9auRcRzffJ996Ksj2bKPpZLgDfy8E4vBiRv0O9DcRk+KiOpQJF7of2rXNmaP8A4sEL+8Yv9aci4U8o3iPeOQgf9puKcrX5lHVNGGnzG40TJ8mFv1oBiUWM6oHKfh5qflXr5y+KQWMquO0qC/8A3L/ahWY/w7hlBKXQ9421r9DVnJSW5RrzR5rDn0L+TFQA/jXY+9G8mwUQbVg8WB+B/wBKpZ7/AA7xUdylplH3NmHup/asdNhJYjyYEdCCCPrSHW1vEro8j3LDlyAJU37jdTTJsshb4o1PyrybJeMMRCQBIdujbj863WVceRSWGIj0n7y/uKsuojxYgasbSLWM4Rw77qpQ91NV8MmYYPeGUyoPsnt860cUiuNULrIvp8Q+VMGJF7HY0x01WLK+xfZjMv47glIjxkRjfle1qPDL0kGvDyK6npfes/jMBFMLOqt+tBxk0+HbXhJiOuhjtSvDuq/teV9ybmoniZTZgQfWo6qZfx3b+ljobdNVtqPx4SGca8NKD+EmmQ6qDeJbMOQZSqw+BlBsY2+l6VaNSIU70qZXb1Yg6u0y9dqEHVymA0VyvJ2kGtzoj79W/wDr/eg3ghRw8DOdKKWPYVtcgy7wY/N8bbt6dhUOWhdXhxLpRd2PVu1z1vU3EGM0R6V+J9h6DqaTOeS6iCMxzklzo5DYHr6mhE+JdtyT867pAqCW9IcthyiR+ZiFUXJNgOpNbXI8qGHTU5BkI8x7D7o9Kh4eybwR4kg/qEcvuDt796D8Z5uT/RDrEhNmkc6VN7+UGlymq1mXPYP92y4BnFnEPjv4EbWjBsx+8f7frQw5YUiMt1ZBa+ltx6EcwatYzDw4eOwXxJXFl0guSWGxW3Lrb2pcJza5HSUaQq+dWBs1zbfpse/euLf1Fnicfv5DtaTUI9yPBZZ4pNjZdJINr79BV/LOGyQzSrvbUqhtza+xHrtRRXiiLeEgJPIKwHPewuQPlQzMnm0GcXRUPmBuHtexsOo6/OlxvsUP1eny+ZprrfEms++x3FZe2JjRgnhMpKaX8nl59R0/vXYuH1QMxAkCgEAnSG7gWPT1qzg8U7atYb/DYgsNrWAIuNiavZY6vGmsgFlF1O5II6jkAfWjXdN4itvX/Ja+tNNp49AP/shGUjSEZiORJCi/QmoG4ZYm6SIU7k7j0IFFzLh8KXcM1jsxZrhfwj/RNOh4iwzWVZQL9gevc2p1drinrktX0X3F1UXyinpyvllgGLIpdek7AAnXzWw7VTStZj86gAKkluhsNv8AOmphIJ0DaQnqLD69xTa+sg5ac7/IM+nmo6mtjOxuatwYlhyJFTTZUyny3dbX1Af2qFYq3QtTWYsxyXZhOHNW+2A3uN/rzrmNwGFxK6ZEW/4xf6MNxVDTT0atEZiZQTMfxH/C2M3aJzH2LeaP/uG4+dYTMsgxmDP9WEtH/wDInnS3qRy+dq94wuMZeR+XQ12fArILwv4L9iNULe6/Z9x9KM4qa3Eyg/U8RyPMQCDHKYm6G/lPv2rbYLOw9o8WAjH4ZRyPa5qvxBlGHWTRjcKcNI3KaH/Df1Btpb5i/pQ+Th+dEP8ALuuLhP2RtIvsD+30rHGLrl8D9+gjh7GhxMckR3NweTDkw9K4uZEc6zfCuflHOHxF/DvbSw8yfXcVs8dw8wXxIT4sZ3uN2HuK6FPUKez2Y2MslR8XFINMigg9xVEZW0Z8TCSlTz0k7H27VDLDUBdl5GmWUwsWJIsaGPjfGIArQEkbE2velQIZtINq5WX8kv1MGDUA0gajBpwreEdau029FuHMt8Z7sPIm7ep6L/eg3ghayPJwQJph5fsr971Pp+tX8diS230A/SrmNluduQ2FMy3D6n1dF/XpSJSyXSL2XYbwo9+Z3b/XpWWzTFmWQt9kbL7Cj+f4qy6Bzbn/APX/ADrF5xivDS/qB9aTZJRWXwhsFkhOYAvJEvxIBue5FxWj4MyeRUE+J2cjyIfsD7zfiPbp78q3A+RONWIxAHnYNGCNyoGzv+w+dX+JM/CgxobsfLtzuf3rLOUIxV1nbhf8GVeI81x7++R+dZybmOO23xMTYLWE4zRsVAq2Znje9l5PcEab8h337UdweVkKGkkIc9B07c9mrkeNjMghl2dgdJ5I1j8NuXS/yrjWXWWTU2/Ty9+8nShRXoceUCcBHDg4lW3nsCX0jUCRcAfhF7WB5daJ4XPf5m6IqkqLtqN1+Q5k1O8Kzf8ALVynl17W1c+R5271k+NJ5oFiMUenRCDM0S+Vd9gzKNlHm5+p61SuEptvOcjLZ11VYjDdfMofxAdwVk16YwR5bW0uNRtYdbWseRsav8D4vEyxB2KGNr6WaUbDkbi5a4ItYigEk/8AOQasTiNCKwAZkLW3sbEkAi571o8jy+BAqQOZUF72/pNfnfzk3/KnWKPhYws59/M5kfDnZqbw379A1lkJWSQtZnI+NWJQRm3lHLc+o/KrkmKMQKC2orzO4JtYXNZbiHM2wjIQGjViba7WJtut1Njyv0P5UL/3mBOtmYECw0WsR8xz9aTolthNHZq6eLhmOAtmDSxIrOUdC4IN9VnG4JBA351ZwUmFnYNJAySHmUYqrfiG9vyvQ7A4PDsUkYkoDcIDeNhvYkcx0uNuVGo8kwcsTNGdLtsjLI1gdRNgt7C245dKopLdJ4xz5fcXV1cXPTBvP0fvzHcU4URxiXDo7afjWxPlt8Qt2tvbvXOHs7SWHRvc7AAi3L13olhZtI0+KdUdlfWN7nkQQLEG3KmLl8bgun9NmXdVUKrkE+bYfFva9Wkoy+COz/wNla/C0z38n3LuUZkxcoqgjp5dItz2YbGiE2DRjqJ0k9BvvXm8GMxyTFHSTw0v5gPKQOW45m3Y1rYMRLIUZXUqFAte3fzHY/lV67JUtRXIiXRxktnt65+/zI8bjEjk8JgVYmwJFg3sacpqrnCnFBYS6h1bUhuCLgHbUPf325VNhllWItLpexveMNug2OxA3vffltXQp6+OPjOZf0ttU8duS2lWoKqgjZrjQbAHVfzHpyq7EldOq2NizFmeScXhk8qJKhimRZI25qwuPcdj6ivPOIeE58CTiMFIzQA3IJ88Xo3dfxfXvXoiirMLW9QdiDuCDzB7irzrU1uJnBSPJRnuHxNkzCCzchKo0sPUEUUwr4rBL4uFk/m8NzIH+Ig9VHxe4+lc454MWH/iMMSkLHzIfMkTHkLHkhPK3Ll2rM5Vjp8I2sBlHdDqjPuOlZrKmud/5E4aN/geIMBjx5/6ch6jY39e/wA6ZmHCsgGqIiVe6/F9P7UGxOTYXMh4kLDDYrnqX4JD+Nf3G9Z7/eTMMqlEOKUj7p+KNx3Vuv61WrqLI/2vUvuXWQy+CIJBFj2IsaVEoP4tRFQWjW9t+VKtH9Qj+l/QmS4DXC1M110GugWHg16BgcL4MCx9SLt7nn/b5VjMig1zxqRtqB+S+b9q3GMbelWPsFFOVSf2FFIUEaewuffrVfAQ76j05e9D+K82WGMluW17e+wrPOSinJjoQc5KMeWCM9zRUDTSHb8/QCrORZWmJWPESLePZ0Vh8R6MR2/X25xZflEeOVZJVvACGCnlIQevde/flRPiPOxCBGltbAhdtlA6n0G21IdkdLm/7RkqZqzw+5X4n4ojgPhahrIva/IftXn8mcRwsZLAa2JbzX3PUXPM9arZfgGaSWSQFmG5klW+pt7BRew/9UU4WxMWIBZ40/pMCSVW+5JAAK3t5e9ci+x3yzJ4iuDqaaunUYRy5Pn35GgydHnjExayt8IA5D3vb8qHSYTwsQJDqm5i2jUy3Frt90DfcVJm8smhXwwNtVtCadATe5Avcm/b1rN/zss0siOyxSKoLF+W9hZdJ81Y4x3yln5594GdnvhBSPFwLZTO0aX8qH4ue5c25k326fkH4nFOskf8s3lYfbIZS1wL3PIb/wBqy+I4Y8TW0TNP9m4OjTIdyw81mHL69ac2W5rJJEgi0qgRWbWillBAO2rey87U2NWXmOM/QrOUWt2aeXhZ8Sx8SUxBrahAF0kjmdTXt8rCjmD4fjw0eiI3PPUxuT6EgWXr06155nmNxMM/8vAJ0Z28q89V7WC3uABe23zrVYDJMesQL4iIuRdkNwR+HUosx+QHr1plisccxSf7/wDEZY0VxeWwZxXmEUqS4VyB9jdeUlrr6FhsbAjlWQyvDLhpBcE3TSFdAx12K6l/C1+VieVbHirLJ50fD6o1J0E3Js2kggqQNjtzt09b1nWE+HidWh1CEozyA3udIN166R+X50ytycMfYtKejhZI5kshaSNorb2+EEc725j3tVvJ82jit4ZG+5821za53Pbas9nXFHjRkAaA1werfKoUwwbDKbN4h3OkEkgfZAHUbE/SpLpk475RetwUtWFnzPTsZmcbxkLIBcBt+WodNt+319aKZNI7xq5F0tqVhsBcG4JI5cuV68p4KzR3MkUqaowGdri5sLAx26km23OvQY8PJNYyz6AQNESDZBbbV3tt7dKTPp3XL5jXbFrHYgzPGhH/AKjSR9QpvpdtwzKT9kHttv0pYzGOYgsCxBndE1kBbmRrBg1uZJ733oXxosgERdl8SFlUHX5bMNW3Xew6dqnxebzCG1zJG6lS3JVboduW9retu4oYwk8c+2Oj1MUlFYyi7k2M1f05odEilQbDS66bhj6+/I1msyzvHDFeG83hoxsdDB1jUD4Gtt4gDAkfiHyOZdimxMDxyvpcWVZV+IehPPuL/PnXZ8gw8CFFUSQM5YLqIYE2JLPfUxvfe/KwqVyrr3fP8GXrJeJ8U+AvwRlqKrt4zyRXGlH7i13JHO56W971sFlBHmUDoN+ftWKyLNcLCNHnAP2GIa3Lrbl71PBnKYhpIY20LeyEG/L7Qvz3v8qCscX8L+n88FYwVsdW+PmadHB3FTIKx2SZ4qMYpbqytY6tjubBhfmDWyhIYXBuDXoOlvjbHK7bM5M8KTSJfDVlZHUMjqVZTyZTsQa8I4pefKsY8Bu8R80RbcPE3K/4hup9Vv1r3qNazn8TciTEYRZSoLQt2+w5AI+uk/I1pcFIW1k8fwufxs6tGpicnofIf7V6dl2YQYyD+Wx6xurbDe5v0ZSOR9RXlWL4aG5S6n0oOUngO5aw6j+1ZrOmknqXJXHkei4v+CKl2MOKXwybpqB1AdjY712snhuPsQqhfEvb1pVTxL/0Byz0ciuimE0r11SBvhNv+JT2b/xNbCVbtYd6wWS4jRPGx6OAfY7H9a9Gjj8xb6UmwtE7IwRPQCgIy/8AmXPiKDECCSftn7o9O5/0LmNSSaVUU2iW5kNufZV9f9e8XEOfRYSLcgdFX9qx2YazLZL7jYyxwUeOeL4cugB2LsNMMQsNRA2Hog2uenuQK8wwGLkcyyY3E2abYou7IOmnovp7Vf4myCbMLO8kZG5ui6jY2sqsxFh/7pn+7paJi6FDGftG7EHsRfYbVyer6pWxWOPeDdTGNE9Vib9P5Nfl+Hh0oivrNhZmFzf1ta/tUWYZcSCraY1Y3aRVBaRzbnYjb35UEynHnCoo0SO0zBUCjUlk2DagOV7m9+X1qPPeKnRSG0m9trnkOYrE25JJrn6GuK1PVH78l3M8WqsoUkKq2LgXW9zz6VlM2nnlYvApAPldxexZeQOnc/He3I33qxw5xA0s3hSklSBpHh3FhsdVhYC9t223FLOcTBhS6o7q7knSCUEZ6lBe1jtT6oOt57lLUprQytwHmUiYow4tZI/GU6Cx0nUh3uDyNuh3GkVo8VjWM7gS6VjW6gg+YHmLgjqOfb51msnleaTxWYu5YFjYXtfZRewUkAn5VLn2JiwzFCks0jEaWV7EA8hsN+fajbCNk84WRaxTHG+A1HxLALOAHcLpViOSmxNidxfa9udhTV4rZzZdz6Akn2ArEw5NiZdbeF4YFtKOTexNudrWHW9H1y0QrEFdV0CQ4ia4PxBbIo5tuLDbr61JU4Wz9+peFtcuAq+ERFNi4ll2Ylyz3PJrMSAeluwA2tSH/D3DSmbVtICAbLb0+za317UGwGDGhsTNIdyGhDG1gLeZu/oPn1FqyZ0kLeIV8Q2JK2vYA2BW/XufSl4lqwtwXThFJMGZ9k0IRPAiJsdN1JY7bgm1+YoplmbRaEjNxoRVBUj1JYgj4rlt79ahTFy40koiRspuJHPhgJ92Q2Oo9uv7um4Fl8rQupBtruw0mQkE6Wv8FiTc7+X1ArUsuGmb3D011Wrf6FrEFFGrDFUeRrqw2HiXUlGFtydPPrR7BcQKSROphlUA7EaWNhspvYi/Q71BwlkTRSMMTCiEn+lLG41IRsT7MNxf1uBepuJ8iwibTO3iMSVKEAtqN2bT1PPc3G/yqkkmufUvPS5bLbsB85Qyu0wBlibysLbC9gtgDe+wIYcvSpsvxatGE0MBdk66Rtclj20k+vlqF5YsOBGWJXmEv/Ue24LdjsPp0o5wpk2HUhocSGffSukgC++xJubWtf8ASqLK2fojJbTJzU4v1M9Ll02HxSop0q4BWWU/07bk2dRY7D33370QlxoZ9IdZAu5dARcnooNw1bTESyRgXw66V3LAApe4AYDod+3WvMo8R/xTBUZHQuSOrPqN3IPIc/rVJQUs5W6N0Z53Nzkq4dDqJVmddL61IbTubEHY8+3KsvPlHgYlpsP/AFVZjoijBGjYnSQPsix35bUbgwlgsxco4OrSqmTVpBGnblf+1G8szXxVDGy72uSAfb1pabisN7P3yXUsZwZ+TwcaLPJ4UiC1+R530kdhWj/h4Jv5Y+MwbznSR90WH63qDA5asUhlDRxB7ho/DVgx2AYOdxyvb1PejOEx4Q6Wj072uo8v9q19HfCh/FnHnj+faMHU0RslmOM+WQ4gruOi1wTIesbfWxtTlFdxD6Y5G7RufyNegRzGeQyYeqeKy8Ebi9GQtcMVaShiJuGUJJ00q2JgpVXSiFy9cvtTNVItViE0MZYhRuWIAHqTYV6e+oKsYN2sAT7Wu3+u9ee8MYlExEZZHck6UCC9mbbUfQC/69K1+e5ykAtcF2sP9dgL1nueXpReK7lrG4wRroj3P6ep9awmYP8A1RK41sdSIpW5BvckHodjWnCMu78zvfoQe1ZjOcSYWaQsNCgsFt5ixFiL9Bve9cvr1J14Rr6fGrcmwmFllF2YL1K/aA7W5XqTFaogSAxFjfV1FvzrOcLZ48skso8qglSPxDcbnmbfLen8Y51IrrGGYKVV5DcDw0ZiBv0YgEgdOZrj+FjMcbmtS1tPsMw+dL/UVH0gLtqvZCxuFBty/tWN4hw+JhF5EDrqvqQ6rE9DfcfMWvWozHIxMXeAokbKv9WRrryOoc9RIsPrz50Jxj3kXDRPFJyW9rR3t1tft60+pKOGlkbKa88HXIw8bqrDxJFZZG7C4sF6jfr39qcmChzKOPWXDxEgun2kPJWJFl6G/e/equfYc+Izb6daatrqCdtVz8zY96My8Q+GhjVVAIA5duR2+X0ouxrDjnPYX0/T2WSk+3ff14IFw38jqD8mbynUT5bC1+x73qGLMlnkCxizjUTKCNkUWsLjzG5HyvQqbiKQf0wGa43IP635UzK8zaJlmdNQBYbC+kN7czv1qqplL4pc++w+xRw4mgxWdSLGUGhFtYuNmPTc33P96HRwxojKzjQxUs5Fy1reVQDsOY+tBswzYOCwTYEkgnkN9wKrZZm7RmOR7hVI7HY/FYdLgmmx6eekzZrhJfY2eMiM0fiOERCLIrWJUWspsDa/oDWV8EMpVd5Dt5jYDv7XrWcUpC+HWeFUPhgMtgBZLXIFhytWPXGhmuFOrmLb/KjXusolletrcdFO+GHhvIhLHV5STpNgN9tri30rT8PqsvhqUaMOrkzaiUex2sAbA9Bcdz7sfg5JHVpjoAW7GPcSEjbZh5SOvTaqpy/EYaTwYHaTYOAF8oVibBQeZFtz+VCcq5r4eQQp0z1F+XN0hVdMjnS2+pbNpN77kbDlsBRjBNDKwfERiQhAEL8gCb3FiADy39Om98JmmLllm/4i5YqAd72W5sPw2N9qMRySsFSFSAoNnJ2bceRuvTnSp0pbp4fmXjOTt08rBVzNVklnCxqTHISpA8wQbbnrcKfrRPgnMkQG7EaSdR62G4UHtTWy3EBxiBGFdUs6qdbSBRfZVvcnp1rO5DKrvJoQkDzFTcGxNw1jz27Uxx1Q27YG5SeGex4bMBKpVX8rqQb76CRbl1HWg8WPGDdwrmQM5uxsT5t7XA8wGwA6VX4dYFgun3ubEUVweBw6SSLINcV7qkgDFX69BcbbX71l1uT0yePmTEVwslPK59zHIpVTIxVTYMqk3Av06EfLtVaNEnbU50vHYM1/iAJ2979fSps4y95y/wDLsi7+VpFbXHY8hbYjsTViDArHHHFIisSoGqM+YaDe+/M3PM361Vwa3znPHf2hmpGpw8CTRMC9g66bDfSByI/WsfM8yO66nYodJVI20kAnzE8rbE7/AOdT8OZmrTMFJ8Ox+OwPO24HX2rUnLVaTUHJVzqYbcxYBdhe1M6aCskovndZzv6mPqE4p78hPLJS0aMwsSoJHY2qrxTivDwzLfeQhR7c2P02+dEoh05AfQCsLxHmfjy3X4E8qeo6t8z+1eqrjwctgtqQropXp5QbalT6VQhW10wtTGeuFqJCQTlTcEg+nOo8Ti2dizEsT1JqN3FV3koYWckNtwpxArqMLObEf4Tn8kP7U7ibKiR5rciDf4bHlfuP71588tavIOLkdRhsb5kOyydV9G7j1rL1NHiRaQ6qzRLICwAEbDDwg31bX21Hqxv09ewqfirKY1jMrys0gKs+ojQ1ttIFuhNxe/KrnGZ/kmTEvG0kQBWOaKxFmt5H3AHLa/rasZmOYyY8HSjLGm9ibMx/SvNyosjZmW3mzp6lOOIkuAnOILxPMyrYWGnULX83sOQ7m/pXE4cxGHxClnjkj1MfLqBj2Nna67dBzPM1suAeHo/5czabGTnz2C7KAeYI3Nx1PpTmdFaRZHWULfysBq0n4WJ9dxy5ir+J4csLhi4Vpxw+xm8swhn8YPISXceVGHh6FAB1gi4vuL9bVlswWfxNBhbckJpBII1FRb/XWtJJP4SP4EREbOWPS4tba51Ht8qmyDM/GlGlRYAhze1rg2HzI5CrQypZSyjQrVBZzgwkeFnSVllQrY73I2B3ABFwRbtW0wGEMUR16SLiwuL2b73TbltRLDRnUWmEbiM+Tzai25+Luwt15HlfnVhsDh59dlZHK7Wa4+jXqt/UJvS9mNqplKvxVujH5PkmHxuKMSSNFZC0g2IYgiyx3JHXe/LtTeLuDWwql42aRAQSCm+m/VlNj0vsKrxxyYWZ1JAdTe4OwuAQQeo3raZbmU7xpLMQi2uQeZ9fS9MsusrcXF5iZHVGTbfJiocwhmHhSahqFrr39h0961cHCUeGQsC0utNQdrDRYA8h671YzbhczvHNGqhSAJNaBY1i3bWNvi3Pe9xuAKLZzmcapCt/JIsljqsNNgFO/MWvRlOLr+HK+RIa3PcxOT8WMISs3nIOzcrgnyg9jvTsTnc2tPJYXNgp1Pb2G+3OgearLCyxyo9h5gwXylh1Dcj39L1G2ef0yfE0uCSO7XvYe2/5VZ9PGT1KPIVbhtBJZEZ5FbdnJYb+Y73t6G9X+E87Dt4TLyva5AKgdyfpVWWEyRhY5A0hdRrayxgNYFmbmLDc8/atNlOVQ4eHwSY53Z9bOg335aTfygC3Xffbel2ShCDzz2NNVrjLgIpmKLsHK72NxuPTehmZZgcO8KRxq+tTqkOxcrpAIFzbY23PL2rQ5Ng4kUyYhwfViBYepNhWHz+N3lWRJRKl3EZ06ANTfE1trbDcAfmKzVR1Nt+/IHUdTHWg1PhjG8TwTWeWQeIt7qAFuxQHe+25vbcbb1TxfFEmJnaGKGQtHqDEEWaNTu25G56d7+poaWkwyh1xEU0l/NGUOoX5lCdj+VEMDj42QSDVqIsRe1mHMdwedWnFRisrV8/9mSzqlBqSIF4taKRA7MGU+dSLewPUf51rcBncrx+MAwjI2bmo3vvb3PPvVDMMMuKwphEYYhfK2oKVe2xUn1AvUHDuRY3CRrGZFaNjdvDOrw2ZgANwCAbgk8ue/caYOv4dn5Gxy1otZiA8wk0lSVt5QAHPRiANz02PQVs+DBLotIBfkLAi9uZIbcf+6dlcShSilboPPJ0W46sd79bbXoHn3FQsYMMTa1nl5M/Q2tyFb/w/pNU/Ffv9+5y75zh8DlkJcU58N8PCbj/mMOv4B6d6zCtVCKWp1kNegSwsGNlsGnA1Ar08UQEuqlUeqlRAU2IqItSka1Rs1QJx3FVpJKdIaqSPQIRyvVOaWnzSUPneqsJpeHuMHhBhkCywuNLRyDUjKeYsdvlW0yrL8BiIlTDEQ2cP4bbj4gSgJPwkXHpfttXi071Nl2fNERqJt3HMUm2qFqxMvCyUHmJ7znLyAad0AHQC1vQXF/lWHznLtavMkyl0A8rWWy/aVtW/sKnyLjdigVys0fZt/pRhcHl2JJJ8jOQWD3YHYCwa+och1Ncm78MnB64fF/P+jdV1Nclpnsefrl+LmTWo0pe3hvcNpNiZEuPMoudr7723oZolwgmRkQszalewZHU23AI/CD3BvXsGeZKJFQtG0ixghWhYsbbC1l83QdOleeYqSJsVHBpZkJOpJPiXSCewI5daz6pRelxx+z7Dfy8bIbPJayrCYlYAZ7x3N2VwoCpuFIC2sepvUbyokhXWJB3XuRfb1p2Zf1SEhtY3A5hRbdr+1vyrMNhJY3KvYEXNwbgDfl35VnUPEbmzp05qqVa8uC1nGUxzSlll0OTYm1xIQBfYciOV6WKx86FQIxossZ1W0OAd7b335XApkEGkK4PJrq1+p2PLpb9KLnhyOQfzEzMmljpRbbXN0a5v1vt7U1TSwpPY5r1qe/zK+J4jabVDKCkSWKBCwW4OyvvYqLDY0VwfFKPpvF50TQsmm4UEWNx6269qD5nhtFpVUsrGxUC9yeQtXMHkMkhIVTAHXXYjYAWuCL7c9qGIuOVsOW3JSx0sxUQyFWBB0XO5AsOnXf8Aam4Lg+MudcxQhx5dOxUi48xNu/0o1h+GEQxTpOs5BBtp58yCvm3A2PuKJ8R5loVo5NDrYHy7qb777bcqt47j8Nffy/0waFLkhGXwwRMol0kqQSfMQOmnkL70HjWaRF8OTw2IAe3PfkQRuL77j0oWuZGbXoj3NwLXOn9hyrZcN8ITQOsuIkjUFQAkZLDbfzG1rj8Nxvzqkk64uU3v8xslHaK7mezPg/Fo8Ih8bFLIGZtXJGBGoHWdKghha5ubGmZvl2YQq6pBJY2L+a5IO40qDuByuB0r2jD4qPyqAff96CcZuCECORJqsAu7EAbgCxvzG1MXVRm1jDMUunWd9jz3hjIxK8cmIlABJ1xaDewBuNRtvy6d69Cx0OHEDFVCoimxvp5Dbn8qDZRwniCzTTXQsCUaUgGNiCNQHfflp/WpmyfCJH4eKmkxfm1aQSiAg3FzfU1u+1Mj011zxjb0x/6SU6qls9/qBuEZmnM4VGY7rFpF9xcNyFgAdr1ssNi0wsOnFFTJYjw0bU2m2yuw2B58r+9Z7MOJxFH4cKph4h9mMBR8z1PqawuOztpDZb279TXQq/DK4PVPf5GafWTktMTW57xS839NbJEOSJsvz7n1oXFIaCQSURglroRwlhGR77haKSrUb0MierUbVcAQRqlDVTjap1aoQl1Vyua65RIU2baoXNSNUDioAhkNUpZKtS1QmqrCVpnqjM9WZ2qhKaqwlWdqHzVemqjLVGEbhsa8RujW9Oh961OUcXLssnlPf7P+VY16jNBSaJjJ7ZlefkWKSEex2rQrxCZBaZI5ha3nUNsRYjcdq+ecHjpIjdHI9On0rR5dxm67SLf1X+xpmuMuQYa4PZIY8CbH+W8MgWHhsQAD2U3UfSmYTIMGJ/G8aQ7W0OqsvLYXFttqw2XcWQv9sA9jsfzo7BmqnkRS5dHRLfShy6q5bamFOJ+DY8SWkhxCI5tYNdUJ9QFNie9Df9y8Y0PhvJA21iI5bXsdjdgpB6+lWo8cO9TpjPWkv8NpxhZLx62xc4fqVMq4MxUZI8ugruDKrjUOVrtfV61FiuHcfpcDDltXlA8aIWTT38TuTRQY31P1p386fvH60v8ApVWc5YX11jWMIHcP8N42PUzwJGx8q2kiNk2uDZ9zcCrON4XxTMgU4cIoJKu4ILkjewBHf5mpzjfU/WmNjPWj/SqtWcsV+Ylp0krcN6l0ySYeMFvN4WskrY7DyjSd77HpRrLJIYIUjeUysqBWcLoLkD4uZt7Vmnxo71VnzRR1FOX4fSuULV0ksJmwxOeRXBEQJHJmO/5WvQyfiJxfRpjvudChbk8ybc6wuYcWQpzkF+w3P5Vl8x43JuIk+bf2p0aqa+EkBznLlnoWY5zzLOT7msbm3Fyi6x+Y+nIfOsZjMyllPnckduQ+lRRii7PImnzCc+OeQ3c39OgqaBqoRVchqgQpA9X4WNCoDRGFqugBOFquoaGQtV2N6sgF9GqaNqqxmpkNEhYIpVHXKJBa0BBttY3v30m1+fXraogYj8Wrpe23/wBrbex+dKlUwQrt4YFzcEqTbmBcMo+dwD7HuKp4hYgVYXK6xe/LSNJc/U2HoK7SqpAfL4Jvc3a5ta4FrG3QX30/d5m/LenP4StKl+yqWFzt8fTn9OXMUqVUYSpjDhyDpvezWPmuWsmnbla/iDe1gQTfkQktKlVWEqyVEaVKqBG0qVKgEVTwYp0+F2X2JpUqJAjBxHiF/wCZf3F/0q9FxlOOYU/Uf3pUqspy8wYRaTjmTrGP+7/KpP8Aft//AI//ANv8q5So+JIGlDH47k6Rj/u/yqrNxrOeQUfU0qVTxJeZNKKE/E+Jb/mW9gP3obPjZH+ORm9ybUqVVcmw4IKcKVKgEetTxilSooDLCVbiNKlVkVL0FX4aVKrohehq5G1KlVkAuRVMppUqJB+qlSpVMhP/2Q==');
    background-position: center;
    background-size: cover;
}

a {
    text-decoration-line: none;
    color: black;
    font-size: 3vh;

}

#right2 {

    background-image: url('http://www.bkt.com.hk/UploadFiles/2016/04/W06121444D2D3DADC.JPG');
    background-position: center;
    background-size: cover;

}

#left3 {

    background-image: url('http://test.searayfoods.com/wp-content/uploads/2018/10/Curry-Fish-Balls.jpg');
    background-position: center;
    background-size: cover;

}

#right3 {

    background-image: url('https://cms.splendidtable.org/sites/default/files/styles/w2000/public/Pho-Cookbook_Seafood-Pho-LEDE_0.jpg?itok=n5h7VTZG');
    background-position: center;
    background-size: cover;

}
h2{
    background-color: rgba(255, 255, 255, 0.479);
}
#thankYou{
    text-align:center;
    font-size: 10vh;
}

#totalPrice, #tax{
    text-align: center;
}
